<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="" method="post">
        <p>
	    <label for="username">Username</label>
	    <input type="text" name="username" id="log_input" placeholder="login" class="input-value">
	</p>
	<p>
	    <label for="password">Password</label>
	    <input type="password" name="password" id="pass_input" placeholder="password" class="input-value">
	</p>
	<p>
	    <input type="submit" name="login" value="Sign Up" id="button">
	</p>
    </form>
	<div>{{wrong}}</div>

</body>
</html>
